# ===== Caches (ne jamais versionner) =====
.cache/
**/.cache/
.pip-cache/
pip-cache/

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
.Python

# ===== Django =====
*.log
*.sqlite3
backend/db.sqlite3
backend/staticfiles/
staticfiles/
media/

# ===== Environnement / secrets =====
.env
.env.*
!.env.example

# ===== Node / Frontend =====
node_modules/
frontend/node_modules/
frontend/dist/
frontend/package-lock.json

# ===== IDE / OS =====
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===== Docker =====
*.pid
